.section_about {
  font-family: $secondaryFont;
  padding: 50px;
  & .leftSide {
    padding: 30px;

    & h5 {
      font-family: $secondaryFont;
      font-size: 22px;
      font-style: italic;
      margin-bottom: 20px;
    }

    & h6 {
      font-family: $secondaryFont;
      font-size: 14px;
      color: $borderColor;
    }

    & p {
      text-align: justify;
      font-family: $secondaryFont;
    }

    & span {
      font-family: $secondaryFont;
      font-size: 15px;
      font-weight: 800;
      font-style: italic;
    }
  }

  & .rightSide {
    padding: 30px;

    & .r1 {
      margin-bottom: 5px;
    }
  }
}

@media (max-width: 576px) {
  .imgDiv {
    margin-bottom: 10px;
    text-align: center;
  }
}

@media (max-width: 767.98px) {
  .r1 {
    margin-top: 0px !important;
  }
  .imgDiv {
    margin-bottom: 10px;
    text-align: center;

    & img {
      height: 170 !important;
      width: 70% !important;
    }
  }
}

@media (max-width: 991.98px) {
  .r1 {
    margin-top: 100px !important;
  }
  .imgDiv {
    margin-bottom: 10px;
    text-align: center;

    & img {
      height: 100%;
      width: 120%;
    }
  }
}

@media (max-width: 1199.98px) {
  .r1 {
    margin-top: 50px !important;
  }
  .imgDiv {
    text-align: center;

    & img {
      height: 100%;
      width: 120%;
    }
  }
}
