@import 'mixin';

.cardPart {
  display: grid;
  place-items: center center;
  margin-top: 20px;
  background-color: #e9ecef;

  & h3 {
    font-weight: 800;
    margin-bottom: 20px;
  }

  & .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 20px;
    grid-gap: 40px;
  }

  & .card {
    background-color: #1c1b29;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.18);
  }

  & .container {
    position: relative;
    // clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

    &:after {
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 20px 20px 0 0;
      opacity: 0.4;
    }
  }

  & .card1 > {
    & .container {
      &:after {
        @include cardStyle;
      }
    }
  }

  & .card2 > {
    & .container {
      &:after {
        @include cardStyle;
      }
    }
  }

  & .card3 > {
    & .container {
      &:after {
        @include cardStyle;
      }
    }
  }

  & .card4 > {
    & .container {
      &:after {
        @include cardStyle;
      }
    }
  }

  & img {
    width: 40%;
    display: block;
    border-radius: 20px 20px 0 0;
  }

  & .details {
    padding: 10px 10px;

    & > h3 {
      color: #fff;
      font-weight: 600;
      font-size: 16px;
      margin: 6px 0 8px 0;
    }

    & > p {
      color: #a0a0a0;
      font-size: 14px;
      line-height: 30px;
      font-weight: 400px;
    }
  }
}

@media (max-width: 576px) {
  .cardPart {
    place-items: center center;
  }
}

@media (max-width: 767.98px) {
  .cardPart {
    place-items: center center;
  }
}

@media (max-width: 991.98px) {
  .cardPart {
    place-items: center center;
  }
}

@media (max-width: 1199.98px) {
  .cardPart {
    place-items: center center;
  }
}
