.cardPart {
  display: grid;
  place-items: center center;
  margin-top: 20px;
  background-color: #e9ecef;
}

.cardPart h3 {
  font-family: "Helvetica Neue";
  font-weight: 800;
  margin-bottom: 20px;
  margin-top: 30px;
  font-style: italic;
}

.cardPart .cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 20px;
  grid-gap: 40px;
}

.cardPart .card {
  background-color: #1c1b29;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.18);
}

.cardPart .container {
  position: relative;
}

.cardPart .container:after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px 20px 0 0;
  opacity: 0.4;
}

.cardPart .card1 > .container:after {
  background-image: linear-gradient(135deg, #2980b9, #6dd5fa);
}

.cardPart .card2 > .container:after {
  background-image: linear-gradient(135deg, #2980b9, #6dd5fa);
}

.cardPart .card3 > .container:after {
  background-image: linear-gradient(135deg, #2980b9, #6dd5fa);
}

.cardPart .card4 > .container:after {
  background-image: linear-gradient(135deg, #2980b9, #6dd5fa);
}

.cardPart img {
  width: 40%;
  display: block;
  border-radius: 20px 20px 0 0;
}

.cardPart .details {
  padding: 10px 10px;
}

.cardPart .details > h3 {
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  margin: 6px 0 8px 0;
}

.cardPart .details > p {
  color: #a0a0a0;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400px;
}

@media (max-width: 576px) {
  .cardPart {
    place-items: center center;
  }
}

@media (max-width: 767.98px) {
  .cardPart {
    place-items: center center;
  }
}

@media (max-width: 991.98px) {
  .cardPart {
    place-items: center center;
  }
}

@media (max-width: 1199.98px) {
  .cardPart {
    place-items: center center;
  }
}

.match_class {
  padding: 50px 0px 50px 0px;
  display: grid;
  place-items: center center;
}

.match_class .match_india {
  text-align: left;
  justify-content: left;
  font-family: "Helvetica Neue";
  font-size: 28px;
  font-weight: 800;
  font-style: italic;
  margin-bottom: 30px;
}

.match_class .match_cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 20px;
  grid-gap: 40px;
}

.match_class .matchCard {
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.18);
}

.match_class .container {
  position: relative;
}

.match_class .container .header_part {
  background-color: #009bfe;
  border-radius: 5px;
  margin: 0px;
  padding: 5px 10px 5px 10px;
  height: 30px;
  color: white;
}

.match_class .container .header_part h6 {
  float: left;
}

.match_class .container .header_part p {
  float: right;
}

.match_class .container .class_part {
  margin-top: -10px;
  padding-left: 5px;
}

.match_class .container .class_part .firsText {
  color: #0a4199;
  font-family: "Helvetica Neue";
  font-size: 14px;
  font-weight: 500;
}

.match_class .container .mini_grid_of_mainpart {
  display: grid;
}

.match_class .container .mini_grid_of_mainpart .mini_grid_of_mainpart_items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 20px 0px 20px 0px;
  grid-gap: 15px;
}

.match_class .container .mini_grid_of_mainpart .mini_grid_of_mainpart_items .teamName {
  font-family: "Helvetica Neue";
  font-size: 16px;
  font-weight: 800;
}

.match_class .container .imgLeft {
  float: left;
}

.match_class .container .scoreRight {
  float: right;
}

.match_class .container .footer_result {
  font-family: "Helvetica Neue";
  color: #0a4199;
  font-size: 14px;
  font-weight: 800;
  font-style: italic;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto";
}

.nav-item a {
  color: #fff !important;
}

.navbar-text {
  color: #fff !important;
}

.MainLayout {
  justify-content: center;
  align-items: center;
  align-self: center;
}

.MainLayout .container {
  padding: 50px;
}

.MainLayout .para {
  margin-top: 70px;
}

.MainLayout p {
  text-align: justify;
}

@media (max-width: 576px) {
  .MainLayout {
    margin-top: -80px !important;
  }
  .MainLayout .img_box {
    margin-left: -40px !important;
  }
  .MainLayout img {
    margin-top: 0px !important;
    height: 200px !important;
    width: 250px !important;
  }
}

@media (max-width: 767.98px) {
  .MainLayout .para h4 {
    font-size: 20px;
    font-weight: 800;
  }
  .MainLayout img {
    margin-left: 50px !important;
    margin-top: 0px !important;
    height: 350px;
    width: 450px;
  }
}

@media (max-width: 991.98px) {
  .MainLayout .para h4 {
    font-size: 20px;
    font-weight: 800;
  }
  .MainLayout img {
    margin-left: -110px;
    margin-top: 100px !important;
    height: 350px;
    width: 450px;
  }
}

@media (max-width: 1199.98px) {
  .MainLayout .container {
    padding: 50px;
  }
  .MainLayout .para {
    margin-top: 70px;
  }
  .MainLayout p {
    font-size: 14px;
    text-align: justify;
  }
  .MainLayout img {
    margin-top: 50px;
    height: 350px;
    width: 450px;
  }
}
/*# sourceMappingURL=style.css.map */